<!-- Navbar side -->

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <nav class="bd-links" id="bd-docs-nav">
        <div class="bd-toc-item active">
            <ul class="nav bd-sidenav">
                <li class="bd-sidenav-li">
                    <a class="bd-toc-link" href="/person/">Персональные данные</a>
                </li>
                <li class="bd-sidenav-li">
                    <a class="bd-toc-link" href="/social/team/">Комнады</a>
                </li>
                <li class="bd-sidenav-li">
                    <a class="bd-toc-link" href="/game/my-game">Мои игры</a>
                </li>
                <li class="bd-sidenav-li">
                    <a class="bd-toc-link" href="/session/">Игровые сессии</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
