{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a class="navbar-brand" href="/">KVest</a>
        <div class="navbar-na-scroll">
            <ul class="navbar-nav mr-auto bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/person/cabinet/">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game/create-game/">Создать игру</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game/join-game/">Принять участие в игре</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
            {# if username #}
                <li class="nav-item">
                    <a class="nav-link p-2" href="/person/cabinet/">Пользователь: {{ username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="/person/logout/">Выйти</a>
                </li>
            {# else #}
                <li class="nav-item">
                    <a class="nav-link p-2" href="/registration/">Зарегистрироваться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="/person/login/">Войти</a>
                </li>
            {# endif #}
        </ul>
    </header>

    <div class="container-fluid bd-main-content">
        {% block main-content %}
        <div class="row justify-content-center">
            <main class="col-4" role="main">
                {% block content %}{% endblock %}
            </main>
        </div>
        {% endblock %}
    </div>

</body>
</html>