{% extends "landing/base.html" %}

{% block title %} Кабинет {% endblock %}

{% block main-content %}

    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav class="bd-links" id="bd-docs-nav">
                <div class="bd-toc-item active">
                    <ul class="nav bd-sidenav">
                        <li class="bd-sidenav-li">
                            <a class="bd-toc-link" href="/person/">Персональные данные</a>
                        </li>
                        <li class="bd-sidenav-li">
                            <a class="bd-toc-link" href="/social/team/">Комнады</a>
                        </li>
                        <li class="bd-sidenav-li">
                            <a class="bd-toc-link" href="/game/">Игры</a>
                        </li>
                        <li class="bd-sidenav-li">
                            <a class="bd-toc-link" href="/session/">Игровые сессии</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <form action="/person/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="InputFirstName">Имя:</label>
                    <input name="first_name" class="form-control" id="InputFirstName" value="{% if p.first_name %}{{ p.first_name }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="InputLastName">Фамилия:</label>
                    <input name="last_name" class="form-control" id="InputLastName" value="{% if p.last_name %}{{ p.last_name }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="InputPhone">Номер телефона:</label>
                    <input name="phone" class="form-control" id="InputPhone" value="{% if p.phone %}{{ p.phone }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="InputSubEmail">Доп. почта:</label>
                    <input name="sub_email" class="form-control" id="InputSubEmail" value="{% if p.sub_email %}{{ p.sub_email }}{% endif %}">
                </div>
                <label for="InputCity">Город:</label>
                <select class="custom-select m-2" name="city_choice">
                    {% if p.city is None %}
                        <option selected="selected" disabled>Выберите город</option>
                    {% else %}
                        <option value="{{ p.city }}" selected="selected">{{ p.city }}</option>
                    {% endif %}
                    {% for city in cities %}
                        {% if city != p.city %}
                        <option value="{{ city }}">{{ city }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div>
                    <button type="submit" class="btn btn-success mt-2">Сохранить измения</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}