{% extends "landing/base.html" %}

{% block title %} Присоединиться к игре {% endblock %}


{% block main-content %}

    <div class="row justify-content-center bd-form">
        <div class="col-6 text-center">
            <h1>Принять участие в игре</h1>
        </div>
    </div>
    <div class="row justify-content-center p-3">
    {% if games %}
        <div class="list-group">
            {% for game in games %}
                <button title="" href="" class="list-group-item list-group-item-action">{{ game.name }}</button>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center p-3">
            <h2>Игр пока ещё нет :(</h2>
        </div>
    {% endif %}

    </div>

{% endblock %}