<!-- Navbar top -->

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

    <a class="navbar-brand" href="/">KVest</a>

    <div class="navbar-na-scroll">
        <ul class="navbar-nav mr-auto bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/game/">Игры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Сессии</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Мануал</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
        {% if username %}
            <li class="nav-item user-container dropdown">
                <a class="nav-link dropdown-toggle p-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Пользователь: {{ username }} <span class="badge badge-danger">2</span>
                </a>
                <div class="user-menu dropdown-menu">
                    <a class="dropdown-item" href="/person/">Персональные данные</a>
                    <a class="dropdown-item" href="/social/team/">Команды <span class="badge badge-danger">2</span></a>
                    <a class="dropdown-item" href="/game/my-game/">Мои игры</a>
                    <a class="dropdown-item" href="/">Мои сессии</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="/person/logout/">Выйти</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link p-2" href="/registration/">Зарегистрироваться</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="/person/login/">Войти</a>
            </li>
        {% endif %}
    </ul>

</header>