<!-- Navbar top -->

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

    <a class="navbar-brand" href="/">KVest</a>

    <div class="navbar-na-scroll">
        <ul class="navbar-nav mr-auto bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/game/">Игры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Сессии</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Мануал</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
        {% if username %}
            <li class="nav-item user-container dropdown">
                <a class="nav-link p-2 dropdown-toggle" href="#" data-toggle="dropdown" id="menu1">
                    <span class="caret"></span>Пользователь: {{ username }}
                </a>
                <ul class="nav bd-sidenav user-menu dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li class="bd-sidenav-li" role="presentation">
                        <a class="dropdown-item" role="menuitem" tabindex="-1" href="/person/">Персональные данные</a>
                    </li>
                    <li class="bd-sidenav-li" role="presentation">
                        <a class="dropdown-item" role="menuitem" tabindex="-1" href="/social/team/">Команды</a>
                    </li>
                    <li class="bd-sidenav-li" role="presentation">
                        <a class="dropdown-item" role="menuitem" tabindex="-1" href="/game/my-game/">Мои игры</a>
                    </li>
                    <li class="bd-sidenav-li" role="presentation">
                        <a class="dropdown-item" role="menuitem" tabindex="-1" href="/">Мои сессии</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="/person/logout/">Выйти</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link p-2" href="/registration/">Зарегистрироваться</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="/person/login/">Войти</a>
            </li>
        {% endif %}
    </ul>

</header>