{% extends "person/base-person.html" %}

{% block title %} Создать игру {% endblock %}

{% block content %}

    <div class="row justify-content-center bd-form">
        <div class="col-4 text-center">
            <h1>Создать игру</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <form action="/game/create-game/" method="post">
            {% csrf_token %}
                <div class="form-group p-3">
                    <input type="text" name="name_game" class="form-control" id="InputNameGame" placeholder="Введите название игры">
                    <select class="custom-select mt-2" name="city_choice">
                        <option selected="selected" disabled>Выберите город</option>
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Создать</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}