{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a class="navbar-brand" href="/">KVest</a>
        <div class="navbar-na-scroll">
            <ul class="navbar-nav mr-auto bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/person/">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game/create-game/">Создать игру</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game/join-game/">Принять участие в игре</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
            {# if username #}
                <li class="nav-item">
                    <a class="nav-link p-2" href="/person/">Пользователь: {{ username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="/person/logout/">Выйти</a>
                </li>
            {# else #}
                <li class="nav-item">
                    <a class="nav-link p-2" href="/registration/">Зарегистрироваться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="/person/login/">Войти</a>
                </li>
            {# endif #}
        </ul>
    </header>

    <div class="container-fluid bd-main-content">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                <nav class="bd-links" id="bd-docs-nav">
                    <div class="bd-toc-item active">
                        <ul class="nav bd-sidenav">
                            <li class="bd-sidenav-li">
                                <a class="bd-toc-link" href="/person">Персональные данные</a>
                            </li>
                            <li class="bd-sidenav-li">
                                <a class="bd-toc-link" href="/social/team/">Комнады</a>
                            </li>
                            <li class="bd-sidenav-li">
                                <a class="bd-toc-link" href="/game">Игры</a>
                            </li>
                            <li class="bd-sidenav-li">
                                <a class="bd-toc-link" href="/session">Игровые сессии</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
                {% block main-content %}
                {% endblock %}
            </div>
            <div class="d-none d-xl-block col-xl-2 bd-toc pt-4">
                <div class="row">
                    <h3>Уведомления</h3>
                </div>
                <div class="row pt-2">
                    {% if notice %}
                        <ul class="section-nav">
                            {% for notice in notices %}
                                <li>{{ notice }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>У вас нет уведомлений</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>