{% extends "person/base-person.html" %}

{% block title %} Информация о команде {% endblock %}

{% block content %}

    <div class="row">
        <h2>{{ team }}</h2>
    </div>

    {% if lead_error %}
        <p>{{ lead_error }}</p>
    {% endif %}

    <div class="row p-2">
        <div class="col-2">Участник</div>
        <div class="col-2 text-center">Роль</div>
        <div class="col-2"></div>
        <div class="col-2"></div>
    </div>

    {% for member in members %}
    <div class="row p-2">

        <div class="col-2">
            <p>{{member.person.first_name}} {{ member.person.last_name }}</p>
        </div>

        <div class="col-2 text-center">
            <p>{{ member.role }}</p>
        </div>

        <div class="col-2"></div>

        <div class="col-2 text-center">
            {% if member.person.user == username %}
                <a class="btn btn-danger btn-sm" href="/social/leave-team/team={{ team.id }}&user={{ member.person.user_id }}" role="button">Покинуть команду</a>
            {% else %}
                <a class="btn btn-danger btn-sm" href="/social/leave-team/team={{ team.id }}&user={{ member.person.user_id }}" role="button">Исключить из команды</a>
            {% endif %}
        </div>

        <div class="col-2 text-center">
            {% if True %}
                <a class="btn btn-warning btn-sm" href="/social/change-lead/team={{ team.id }}&user={{ member.person.user_id }}" role="button">Назначить лидером</a>
            {% endif %}
        </div>

    </div>
    {% endfor %}

    <div class="row p-2 mt-2">
        <form class="form-inline" id="invite_in_team">
            {% csrf_token %}
                <div class="col-5 form-group">
                    <input name="invite_member" class="form-control" id="invite_member">
                </div>
                <div class="col-2">
                    <button id="submit_btn" type="submit" class="btn btn-primary" data-team_id = "{{ team.id }}">Пригласить в команду</button>
                </div>
        </form>
    </div>

{% endblock %}